@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Salon Web Application</h1>
    <p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-success">
            Staff Login
        </a>
    </p>
</div>
